body{
    box-sizing: border-box;
    background-color: hsl(204, 43%, 93%);
    margin: 0 auto;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 13px;
    max-width: 1440px;
    
   
}

.container{ /*This is the main container that houses all the other divs*/
    max-width: 1300px; 
    margin: 100px auto;
    display: flex;
    
}

.div-one{ /*This controls the div on the left side of the container that houses the 4 other divs*/
    width: 900px; /* This sets the width of div-one to 900px */
    padding: 20px;
     
}

.div-two{ /*This controls the div on the right hand side that controls Kira*/
    width: 350px; /* This sets the width of div-one to 900px */
    padding: 20px;
    
}

.div-one-upper{ /*This is controls Daniel and Jonathan containers*/
    height: 300px;
    display: flex;
    margin-bottom: 20px;
}

.div-one-lower{ /*This controls Harmon and Patrick containers*/
    height: 300px;
    display: flex;
    margin-top: 20px;
}

h6{ /*This controls the initial characteristics of the h6 used in the design*/
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    margin-top: 8px;
    margin-bottom: 15px;
}


/* The following styles are used to set the width, padding, color, background-color of each individual */

.daniel{
    max-width: 600px;
    margin-right: 40px;
    color: white;
    background-color: hsl(263, 55%, 52%);
    border-radius: 15px;
    padding: 20px;
        
}

.quotation-overlay{
    display: block;
    width: 550px;
    height: 80px;
}

.quotation-image{
    display: block;
    float: right;
    width: 90px;
    height: 110px;
    padding-top: 0px;
    margin-top: -78px; /*This value is used to make the quotation image touch the top of the containing div*/
    margin-right: 75px;
}

.daniel-quotation-overlay{
    position: absolute;
    width: 550px;
    height: 80px;
    font-size: 1.1rem;
    
}

.daniel-paragraph{ 
    max-width: 550px;
    margin-top: 15px;
    font-size: 1rem;
    letter-spacing: 0.4px;
    color: hsl(0, 0%, 81%, 0.7);
}

.jonathan{
    color: white;
    background-color: hsl(217, 19%, 35%);
    border-radius: 15px;
    padding: 20px;
    
}

.jonathan-paragraph{
    font-size: 1rem;
    letter-spacing: 0.4px;
    color: hsl(0, 0%, 81%, 0.7);
}

.patrick{
    max-width: 550px; /*This is used to set the maximum width of this content container*/
    margin-left: 40px;
    color: white;
    background-color: hsl(219, 29%, 14%);
    border-radius: 15px;
    padding: 20px;
       
}

.harmon{
    width: 650px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    
}

.kira{
    height: 580px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    
}


/* This class below is used to make the images of each person rounded*/
.picture-xters{
    border-radius: 100%; 
}


/* The settings below are used to style the names and titles of each individual to float them beside their different images */

.name-daniel{ /*This is used to set the name text for the person Daniel. The corresponding setting for each of the other individuals apply as well in their places.*/
    float: right;
    margin-right: 420px;
    margin-top: 5px;
    color: hsl(0, 0%, 81%);
}

.verified-daniel{ /*This is used to set the Verified Graduate text. The corresponding setting for each of the other individuals apply as well in their places.*/
    float: right;
    margin-top: -35px;
    margin-right: 425px;
    font-size: 0.6rem;
    color: hsl(0, 0%, 81%, 0.5);
}

.name-jonathan{
    float: right;
    margin-right: 80px;
    margin-top: 5px;
    color: hsl(0, 0%, 81%);
}

.verified-jonathan{
    float: right;
    margin-top: -35px;
    margin-right: 100px;
    font-size: 0.6rem;
    color: hsl(0, 0%, 81%, 0.5);
}

.name-harmon{
    float: right;
    margin-right: 80px;
    color: hsl(210, 2%, 53%); 
    
}

.verified-harmon{
    float: right;
    margin-top: -30px;
    margin-right: 98px;
    font-size: 0.6rem;
    color:hsl(206, 11%, 72%, 0.5); 
    
}

.harmon-header{
    margin-bottom: 20px;
    color: hsl(210, 2%, 53%);
}

.harmon-paragraph{
    font-size: 1rem;
    color: hsl(210, 2%, 53%, 0.7); 
}

.name-patrick{
    float: right;
    margin-right: 410px;
    color: hsl(0, 0%, 81%);
    

}

.verified-patrick{
    float: right;
    margin-top: -30px;
    margin-right: 420px;
    font-size: 0.6rem;
    color: hsl(0, 0%, 81%, 0.5);

}

.patrick-header{
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 30px;
}

.patrick-paragraph{
    font-size: 1rem;
    letter-spacing: 0.4px;
    color: hsl(0, 0%, 81%, 0.7);

}

.name-kira{
    float: right;
    margin-top: 5px;
    margin-right: 150px;
    color: hsl(210, 2%, 53%); 
   
}

.verified-kira{
    float: right;
    margin-top: -35px;
    margin-right: 143px;
    font-size: 0.6rem;
    color:hsl(206, 11%, 72%, 0.5); 
    
}

.kira-header{
    margin-bottom: 20px;
    color: hsl(210, 2%, 53%);
}

.kira-paragraph{
    font-size: 1.1rem;
    letter-spacing: 0.4px;
    color: hsl(210, 2%, 53%, 0.7);
}

@media screen and (max-width: 550px) { /* The media query takes effect once it reaches 550px to change to the media design. */

    body{
        box-sizing: border-box;
        max-width: 375px; /*Maximum width of the body used for the mobile design. */
        background-color: hsl(204, 43%, 93%);
        margin: 0 auto;
        

    }

    .container{
        max-width : 350px; /* Width changed to 300px to go with the mobile design view. */
        height: 2100px;
        display: block;
        margin: 100px auto;
        background-color: hsl(204, 43%, 93%);
        line-height: 1.5em;
                   
    }

    .div-one{
        width: 350px;
        padding: 0;
        height: 1600;
        margin-bottom: 40px;
    }

    .div-two{
        width: 350px;
        height: 800px;
        padding: 0px;
        margin-top: -30px;
    }

    .div-one-upper{
        display: flex;
        flex-direction: column;
        height: 800px;
        padding: 0;
        margin-bottom: 10px;
        
    }

    .div-one-lower{
        display: flex;
        flex-direction: column;
        height: 750px;
        padding: 0;
        margin-top: 20px;
        
    }

    .daniel{
        width: 300px;
        height: 500px;
        padding: 25px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .name-daniel{
        float: right;
        margin-right: 160px;
        color: hsl(0, 0%, 81%);
    }
    
    .verified-daniel{
        float: right;
        margin-top: -40px;
        margin-right: 165px;
        font-size: 0.6rem;
        color: hsl(0, 0%, 81%, 0.5);
    }

    .quotation-overlay{
        display: block;
        width: 370px;
        height: 80px;
       
    }

    .quotation-image{ /*This controls the characteristics of the quotation image*/
        display: block;
        float: right;
        width: 85px;
        height: 115px;
        padding-top: 0px;
        margin-top: -85px; /*This value is used to make the quotation image touch the top of the containing div*/
        
    }
    
    .daniel-quotation-overlay{ /*This controls the width and other characteristics of the quote I received.....*/
        position: absolute;
        width: 300px;
        font-size: 1.3rem;
            
    } 

    .daniel-paragraph{ /*This controls the characteristics of the paragraph in Daniel's testimony*/
        margin-top: 70px;
        font-size: 1rem;
        letter-spacing: 0.4px;
        color: hsl(0, 0%, 81%, 0.7);
    }

    .jonathan{
        width: 300px;
        height: 300px;
        padding: 25px;
        margin-top: 10px;
        border-radius: 10px;
    }

    .name-jonathan{
        float: right;
        margin-right: 150px;
        margin-top: 5px;
        color: hsl(0, 0%, 81%);
    }
    
    .verified-jonathan{
        float: right;
        margin-top: -40px;
        margin-right: 170px;
        font-size: 0.6rem;
        color: hsl(0, 0%, 81%, 0.5);
    }

    .jonathan-paragraph{
        margin-top: 30px;
        font-size: 1rem;
        letter-spacing: 0.4px;
        color: hsl(0, 0%, 81%, 0.7);
    }

    .harmon{
        width: 300px;
        height: 250px;
        background-color: white;
        border-radius: 10px;
        padding: 25px;
        margin-bottom: 10px;
        
    }

    .name-harmon{
        float: right;
        margin-top: 5px;
        margin-right: 150px;
        color: hsl(210, 2%, 53%); 
        
    }
    
    .verified-harmon{
        float: right;
        margin-top: -40px;
        margin-right: 168px;
        font-size: 0.6rem;
        color:hsl(206, 11%, 72%, 0.5); 
        
    }
    
    .harmon-header{
        margin-bottom: 20px;
        color: hsl(210, 2%, 53%);
    }
    
    .harmon-paragraph{
        font-size: 1rem;
        color: hsl(210, 2%, 53%, 0.7);
        margin-top: 30px;
        letter-spacing: 0.4px;
        
    }

    .patrick{
        color: white;
        background-color: hsl(219, 29%, 14%);
        width: 300px;
        height: 420px;
        padding: 25px;
        padding-bottom: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        border-radius: 10px;
           
    }

    .name-patrick{
        float: right;
        margin-right: 155px;
        margin-top: 5px;
        color: hsl(0, 0%, 81%);
        
    
    }
    
    .verified-patrick{
        float: right;
        margin-top: -40px;
        margin-right: 165px;
        font-size: 0.6rem;
        color: hsl(0, 0%, 81%, 0.5);
    
    }

    .patrick-header{
        font-size: 1.1rem;
        text-align: justify;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    .patrick-paragraph{
        font-size: 1rem;
        letter-spacing: 0.4px;
        color: hsl(0, 0%, 81%, 0.7);
    }

    .kira{
        height: 450px;
        background-color: white;
        border-radius: 10px;
        padding: 25px;
        
    }

    .name-kira{
        float: right;
        margin-top: 5px;
        margin-right: 170px;
        color: hsl(210, 2%, 53%); 
       
    }
    
    .verified-kira{
        float: right;
        margin-top: -40px;
        margin-right: 165px;
        font-size: 0.6rem;
        color:hsl(206, 11%, 72%, 0.5); 
        
    }
    
    .kira-header{
        font-size: 1.3rem;
        margin-bottom: 20px;
        color: hsl(210, 2%, 53%);
    }
    
    .kira-paragraph{
        font-size: 1rem;
        letter-spacing: 0.4px;
        color: hsl(210, 2%, 53%, 0.7);
    }


}